@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.tabla_encabezado {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-collapse: collapse;
}

.tabla_encabezado tr th.datos_empresa {
    text-align: center;
    font-size: 16px;
    width: auto;
    height: auto;
}

.tabla_encabezado tr td.datos_empresa {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: auto;
    height: auto;
}

.tabla_encabezado tr td.datos_empresa_imagen {
    text-align: center;
    width: 190px;
    height: auto;
}

.tabla_encabezado tr td.espacio {
    height: 1ex;
}

.tabla_encabezado tr td.datos_fijos {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    background-color : orange;
    font-weight: bold;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    height: auto;
}

.tabla_encabezado tr td.datos_variables {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_encabezado tr td.espacio_texto {
    text-align: center;
    font-weight: bold;
    font-size: 6px;
    height: auto;
}

.tabla_items {
    width: 100%;
    border-collapse: collapse;
}

.tabla_items tr th {
    text-align: center;
    font-size: 13px;
    border: 1px solid rgb(255, 208, 0);
    background-color : orange;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
}

.tabla_items tr td {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 14ex;
    font-size: 12px;
}

.tabla_items tr td.item_planilla {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_items tr td.CampoObservaciones {
    border: 1px solid rgb(255, 208, 0);
    border-collapse: collapse;
    width: auto;
    height: 14ex;
}

.tabla_items_stickers {
    width: 100%;
    border-collapse: collapse;
    
}

.tabla_items_stickers tr td.datos_fijos {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    background-color : orange;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_items_stickers tr td.datos_variables {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_items_stickers tr td.datos_variables_detalle {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.tabla_footer tr td.datos_fijos {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    background-color : orange;
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
}

.tabla_footer tr td.datos_variables {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 12px;
}

.tabla_footer tr td.info {
    text-align: center;
    border: 1px solid rgb(255, 208, 0);
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    font-size: 10px;
}